.login {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../../img/login.png') no-repeat;
    background-size: 100% 100%;
}
.login .login-form {
    position: absolute;
    top:30vh;
    right: 9vw;
    width: 350px;
}

.login .login-form h1 {
    text-align: center;
}
.login .login-footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #2081c7;
    text-align: center;
}
.login .login-form .login-form-button {
    width: 100%;
    height: 40px;
}
.login .login-form input {
    height: 40px;
}